<?xml version="1.0"?>
<launch>
    <arg name="side" default="r"/>

    <include file="$(find burger_navigation)/launch/burger_navigation.launch"/>

    <!-- my program node -->
    <node pkg="burger_war" type="burger_war_main.py" name="burger_war_main" output="screen"/>

    <node pkg="burger_war" type="enemy_detector.py" name="enemy_detector_node" output="screen"/>

    <include file="$(find burger_war)/launch/obstacle_detector.launch"/>

    <node pkg="burger_war" type="scan_trimer.py" name="scan_trimer_node" output="screen"/>

</launch>
